.app-container {
  font-family: Arial, sans-serif;
  text-align: center;
  background-color: #f9f9f9;
  padding: 20px;
}

h2 {
  color: #333;
}
body.dark-mode .header-item img.college-icon {
  filter: brightness(1.3) saturate(1.5); /* Increase brightness and saturation */
}